html,
body {
    height: 100%;
}

a {
    text-decoration: none;
}

.table-container {
    display: table;
    height: 100%;
    width: 100%;
}

.table-block {
    display: table-row;
    height: 1px;
}

.footer-push {
    height: auto;
}

#footer {
    text-align: center;
}

#copyright {
    font-size: 0.8em !important;
}