@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*
Bones.css - Easy grid system with configurable styles, using CSS variables, grd.css and Skeleton.css
* --------------------------
* Bones V0.0.1
* Copyright 2024, Calvin Morett
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 07/05/2023
* --------------------------
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
*/
*,*:before,*:after,html,body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  font-stretch: normal;
  opacity: 1;
}
/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- :root / CSS Variables
- General Classes & Styling
- Grid & Cell
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code + Span
- Tables
- Spacing
- Misc
- Media Queries
*/
/* :root / CSS Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
  --border-boxshadow-color:#000;
/*   var(--border-boxshadow-color) */
  --elementname-style-state: variable example;
  --a-color-linkvisited: #0093ff;
  --a-color-hoveractive: #b35050;
  --a-textdecoration-linkvisited: underline;
  --a-textdecoration-hoveractive: none;
  --blockquote-color: #444;
  --blockquote-background: #eee;
  --body-color: #222;
  --body-padding: 1em;
  --body-fontsize: 1.5em;
  --body-fontfamily: Arial,Roboto,Helvetica Neue,sans-serif;
  --body-lineheight: 1.5em;
  --button-color: #555;
  --button-background: #e1e1e1;
  --button-color-hoverfocus: #333;
  --button-border-hoverfocus: 1px solid #888;
  --button-color-primary: #fff;
  --button-background-primary: #b31212;
  --button-bordercolor-primary: #b31212;
  --button-color-primary-hoverfocus: #fff;
  --button-background-primary-hoverfocus: #930000;
  --button-border-primary-hoverfocus: #930000;
  --button-border: 1px solid #bbb;
  --button-margin: 0.64em 0.32em 0.64em 0;
  --button-padding: 0 30px;
  --button-height: 38px;
  --button-fontsize: 11px;
  --button-fontweight: 600:
  --button-letterspacing: 0.1rem;
   --Cell-padding: 1em;
  --code_span-background: #f1f1f1;
  --code_span-boxshadow: 0 0 0 2px var(--border-boxshadow-color);
  --code-padding: 0.12em 1em;
  --span-padding: .5em 1em;
  --code_span-margin: .32em 0 .5em;
  --span-fontweight: bold;
  --form-inputborder:#d1d1d1;
  --headings-fontfamily: "Anybody", cursive;
  --headings-margin: .24em 0 .12em;
  --headings-fontweight: 600;
  --hr-border: 1px dotted #e1e1e1;
  --hr-margin: .5em 0;
  --p-margin:0 0 .5em;
  --td-border-color:#e1e1e1;
  --transition: all 0.02s cubic-bezier(0.4, 0, 1, 1);
}
/* General Classes & Styling
–––––––––––––––––––––––––––––––––––––––––––––––––– */
::selection {
  background: #efddc5;
  color: #b35050;
}
.no-margin-top *:first-child {  margin-top: 0;}
.no-margin-bottom *:last-child {  margin-bottom: 0;}
.centertext .Cell{
	text-align:center;
}
.whitespace .Cell:first-child{
	padding:20rem 0 19rem;
}
.font-weight-100 {  font-weight: 100;}
.font-weight-200 {  font-weight: 200;}
.font-weight-300 {  font-weight: 300;}
.font-weight-400 {  font-weight: 400;}
.font-weight-500 {  font-weight: 500;}
.font-weight-600 {  font-weight: 600;}
.font-weight-700 {  font-weight: 700;}
.font-weight-800 {  font-weight: 800;}
.italic {  font-style: italic;}
/* Grid & Cell
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.Grid {
  display: flex;
  flex-wrap: wrap;
  box-shadow: inset 0 0 0 1px var(--border-boxshadow-color);
  word-break: break-word;
  margin-top: 1em;
}
.Grid:nth-of-type(1) {  margin-top: 0;}
.Cell {
  overflow: hidden;
  box-sizing: border-box;
  flex-shrink: 0;
  padding: var(--Cell-padding);
  box-shadow: inset 1px 1px 0 0 var(--border-boxshadow-color);
  position: relative; /* use relative to be able to position: absolute; on sub-elements */
}
.Cell.\-absolute {  position: absolute;}
.Cell.\-2of12 {  width: calc(100% * 2 / 12);}
.Cell.\-3of12 {  width: calc(100% * 3 / 12);}
.Cell.\-4of12 {  width: calc(100% * 4 / 12);}
.Cell.\-5of12 {  width: calc(100% * 5 / 12);}
.Cell.\-6of12 {  width: calc(100% * 6 / 12);}
.Cell.\-7of12 {  width: calc(100% * 7 / 12);}
.Cell.\-8of12 {  width: calc(100% * 8 / 12);}
.Cell.\-9of12 {  width: calc(100% * 9 / 12);}
.Cell.\-10of12 {  width: calc(100% * 10 / 12);}
.Cell.\-12of12 {  width: 100%;}
/* Cell Heights */
.Cell-height-100vh {  min-height: 100vh; }
.Cell-height-50vh {  min-height: 50vh; }
.Cell-height-33vh {  min-height: 33.33vh; }
/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {  font-size: 62.5%; }
body {
  font-size: var(--body-fontsize);
  line-height: var(--body-lineheight);
  font-family: var(--body-fontfamily);
  color: var(--body-color);
  padding: var(--body-padding);
  font-weight: normal;
}
/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1,h2,h3,h4 {
  font-family: var(--headings-fontfamily);
  margin: var(--headings-margin);
  font-weight: var(--headings-fontweight);
  line-height: 1;
  letter-spacing: -0.1rem;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.6rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2rem;
  line-height: 1.05;
}
/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 5rem;}
  h2 { font-size: 4.2rem;}
  h3 { font-size: 3.6rem;}
  h4 { font-size: 3rem;}
}
p {  margin: var(--p-margin); }
/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a:link, a:visited {
  color: var(--a-color-linkvisited);
  text-decoration: var(--a-textdecoration-linkvisited);
  transition: var(--transition);
}
a:hover, a:active {
  color: var(--a-color-hoveractive);
  text-decoration: var(--a-textdecoration-hoveractive);
}
/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,.button {
  margin: var(--button-margin);
  text-transform: uppercase;
  border-radius: 200px;
  font-family: var(--body-fontfamily);
}
.button,
button,
select,
input[type="submit"],
input[type="email"],
input[type="text"],
input[type="reset"],
input[type="button"] {
  color: var(--button-color);
  border: var(--button-border);
  padding: var(--button-padding);
  height: var(--button-height);
  font-size: var(--button-fontsize);
  letter-spacing: var(--button-letterspacing);
  background: var(--button-background);
  transition: var(--transition);
  font-weight: var(--button-fontweight);
  display: inline-block;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  box-sizing: border-box;
  vertical-align: bottom;
  margin-right: 0.5em;
}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: var(--button-color-hoverfocus);
  border: var(--button-border-hoverfocus);
  outline: 0;
}
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: var(--button-color-primary);
  background: var(--button-background-primary);
  border: var(--button-border-primary);
}
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: var(--button-color-primary-hoverfocus);
  background: var(--button-background-primary-hoverfocus);
  border: var(--button-border-primary-hoverfocus);
}
/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="text"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  background-color: #fff;
  border: 1px solid var(--form-inputborder);
  font-weight: inherit;
  font-family: inherit;
  color: inherit;
  padding: 0.42em 0.56em 0.24em;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  text-align: left;
  font-size: 100%;
  display: block;
  min-width: 100%;
  margin: 0.32em 0;
}
select option {
  font-family: inherit;
  font-weight: inherit;
  font-size: 100%;
  line-height: 1.5;
}
/* Removes awkward default styles on some inputs for iOS */
input[type="submit"],
input[type="email"],
input[type="text"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
textarea {
  min-height: 2em;
  padding-top: 0.64em;
  padding-bottom: 0.64em;
}
input[type="submit"]:focus,
input[type="email"]:focus, input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid var(--a-color-linkvisited);
  outline: 0;
}
label,legend {
  display: block;
  margin: 1em 0 0.24em;
  font-weight: 600;
}
fieldset {
  padding: 0;
  border-width: 0;
}
input[type="checkbox"],
input[type="radio"] {
  display: inline;
}
label > .label-body {
  display: inline-block;
  margin-left: 0.5rem;
  font-weight: normal;
}
input[type="button"],
input[type="submit"],
input[type="reset"] {
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: auto;
  min-width: auto;
}
/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {  list-style: circle inside; }
ol {  list-style: decimal inside; }

li,ol,ul {
  padding-left: 0;
  margin-top: 0;
}
ul ul,
ul ol,
ol ol,
ul li,
ol li {
  margin: 0.5em 0 0 2em;
}
li:first-child {  margin-top: 1.24em; }
li:last-child {  margin-bottom: 1.24em; }
/* Code + Span
–––––––––––––––––––––––––––––––––––––––––––––––––– */
span {
  display: block;
  font-weight: var(--span-fontweight);
  padding: var(--span-padding);
  margin: var(--code_span-margin);
  background: var(--code_span-background);
  border: var(--code_span-border);
}
code {
  border-radius: 4px;
  white-space: nowrap;
  padding: var(--code-padding);
  margin: var(--code_span-margin);
  background: var(--code_span-background);
  overflow: hidden;
  overflow-x: scroll;
}
pre > code {
  margin:1em .24em;
  overflow: hidden;
  overflow-x: scroll;
  display: block;
  padding: var(--code-padding);
  white-space: pre;
}
/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  padding: 0.5em 1em;
  text-align: center;
  border-bottom: 1px solid #e1e1e1;
}
th:first-child,td:first-child {
  padding-left: 0;
}
th:last-child,td:last-child {
  padding-right: 0;
}
/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input,textarea,select,fieldset {  
  margin: 0.32em 0 0.4em; }
fieldset {  margin: 1em 0; }
pre,blockquote,figure,figcaption,table,ul,ol,form {  margin: 0 0 0.64em 0; }

blockquote {
  box-shadow: inset 4px 0 0 0 var(--blockquote-color);
  color: var(--blockquote-color);
  background: var(--blockquote-background);
  padding: 0.32em 1em;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  font-weight: bold;
  letter-spacing: -0.0123em;
  line-height: 1.32;
  width: 42%;
  float: left;
  margin: 0 1.32em 0.7em 0;
}
blockquote:before,blockquote:after {
  color: var(--blockquote-color);
}
blockquote:before { content: "❝"; }
blockquote:after { content: "❞"; }
figure {
  width: calc(100% + 1.84em);
  border: 1px solid transparent;
  box-shadow:0 1px 0 0 var(--border-boxshadow-color);
  padding-bottom:.12em;
  margin: -1em;
}
figcaption {
  font-size: 12px;
  font-style: italic;
  margin: 1em;
}
img {
  padding: 0;
  outline: 0;
  display: block;
  width: 100%;
  position: relative;
}
.imgCellhalf img{
    margin: 0 auto;
    display: block;
    width: 50%;
}
.imgCell img{
    margin: 0 auto;
    display: block;
}
/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin: var(--hr-margin);
  border:none;
  border-top: var(--hr-border);
  padding:0;
}
/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (max-width: 700px) { 
	body { padding:1em 2em; }
  .Cell { 
    width: 100% !important;
    display: block !important;
  }
}
