@import url('https://fonts.googleapis.com/css?family=Nixie+One|Dosis:400,200,300,500,600,800,700|Bubblegum+Sans|Parisienne|Lora:400,700italic,700,400italic|Fredericka+the+Great|Noto+Serif:400,400italic,700,700italic|La+Belle+Aurore|Lobster|Engagement|Shadows+Into+Light|Frijole|Alegreya+Sans:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,800,900,800italic,900italic|Monoton|Droid+Serif:400,400italic,700,700italic|Pacifico|Inconsolata:400,700|Oswald:400,700,300|Special+Elite|Montserrat:400,700|Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic|Open+Sans+Condensed:300,700,300italic|Kranky|Crimson+Text:400,400italic,600,700,600italic,700italic|Indie+Flower|Alegreya:400,400italic,700,700italic,900italic,900|Raleway:100,200,300,500,400,600,700,800,900|Roboto+Condensed:400,300,300italic,400italic,700,700italic|Slabo+27px|Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic|Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic|Bentham|Playfair+Display:400,400italic,700,700italic,900,900italic|Paytone+One|Josefin+Slab:400,100,100italic,300,300italic,400italic,600,600italic,700,700italic|Pinyon+Script|Abril+Fatface|Six+Caps|Londrina+Outline|League+Script|Sacramento|Fjalla+One|Vast+Shadow|Petit+Formal+Script|Libre+Baskerville:400,400italic,700|Work+Sans:400,100,200,300,500,600,700,800,900|Economica:400,400italic,700,700italic|Yellowtail|Niconne|Pompiere|Maiden+Orange|Lateef');

@font-face {
    font-family: 'aleo';
    src: 
        url('../fonts/aleo/aleo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'aleo';
    src: 
        url('../fonts/aleo/aleo-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'aleo';
    src: 
        url('../fonts/aleo/aleo-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'aleo';
    src: 
        url('../fonts/aleo/aleo-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'aleo';
    src: 
        url('../fonts/aleo/aleo-light-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'aleo';
    src: 
        url('../fonts/aleo/aleo-lightitalic-webfont.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'tex_gyre_heros';
    src: 
        url('../fonts/tex_gyre_heros/texgyreheros-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'tex_gyre_heros';
    src: 
        url('../fonts/tex_gyre_heros/texgyreheros-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'tex_gyre_heros';
    src: 
        url('../fonts/tex_gyre_heros/texgyreheros-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'tex_gyre_heros';
    src: 
        url('../fonts/tex_gyre_heros/texgyreheros-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
