@import url('https://fonts.googleapis.com/css?family=Nixie+One|Dosis:400,700|Bubblegum+Sans|Parisienne|Lora:400,700|Fredericka+the+Great|Noto+Serif:400,700|La+Belle+Aurore|Lobster|Engagement|Shadows+Into+Light|Frijole|Alegreya+Sans:100,300,400,700,900|Monoton|Droid+Serif:400,700|Pacifico|Inconsolata:400,700|Oswald:400,700,300|Special+Elite|Montserrat:400,700|Open+Sans:400,300,600,700,800|Open+Sans+Condensed:300,700|Kranky|Crimson+Text:400,600,700|Indie+Flower|Alegreya:400,700,900|Raleway:400,900,100,300,700,600|Roboto+Condensed:400,700,300|Slabo+27px|Roboto:400,300,500,700,900|Lato:100,300,400,700,900|Bentham|Playfair+Display:400,700,900|Paytone+One|Josefin+Slab:400,300,100,600,700|Pinyon+Script|Abril+Fatface|Six+Caps|Londrina+Outline|League+Script|Sacramento|Fjalla+One|Vast+Shadow|Petit+Formal+Script|Libre+Baskerville:400,700');

@font-face {
    font-family: 'aleo';
    src: 
        url('../fonts/aleo/aleo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'aleo';
    src: 
        url('../fonts/aleo/aleo-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'aleo';
    src: 
        url('../fonts/aleo/aleo-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'aleo';
    src: 
        url('../fonts/aleo/aleo-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'aleo';
    src: 
        url('../fonts/aleo/aleo-light-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'aleo';
    src: 
        url('../fonts/aleo/aleo-lightitalic-webfont.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'tex_gyre_heros';
    src: 
        url('../fonts/tex_gyre_heros/texgyreheros-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'tex_gyre_heros';
    src: 
        url('../fonts/tex_gyre_heros/texgyreheros-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'tex_gyre_heros';
    src: 
        url('../fonts/tex_gyre_heros/texgyreheros-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'tex_gyre_heros';
    src: 
        url('../fonts/tex_gyre_heros/texgyreheros-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
