/* #Buttons
================================================== */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  @include vertical-gradient($form_button_gradient_start, $form_button_gradient_end);
  @include button_border($form_button_border_rightbottom, $form_button_border_topleft);
  @include border-radius($form_button_border_radius);
  color: $form_button_text_colour;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: $form_button_text_shadow;
  cursor: pointer;
  margin-bottom: 20px;
  line-height: normal;
  padding: 8px 10px;
  font-family: $form_element_font;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  @include vertical-gradient($form_button_hover_gradient_start, $form_button_hover_gradient_end);
  color: $form_button_hover_text_colour;
  @include button_border($form_button_hover_border_rightbottom, $form_button_hover_border_topleft);
}

.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
  @include vertical-gradient($form_button_active_gradient_start, $form_button_active_gradient_end);
  border: $form_button_active_border;
}

.button.full-width,
button.full-width,
input[type="submit"].full-width,
input[type="reset"].full-width,
input[type="button"].full-width {
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center;
}

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* #Forms
================================================== */

form {
  margin-bottom: 20px;
}

fieldset {
  margin-bottom: 20px;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
  border: $form_input_border;
  padding: 6px 4px;
  outline: none;
  @include border-radius(2px);
  font: 13px $form_element_font;
  color: $form_input_text_colour;
  margin: 0;
  width: 210px;
  max-width: 100%;
  display: block;
  margin-bottom: 20px;
  background: $form_input_background;
}

select {
  padding: 0;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: $form_input_focus_border;
  color: $form_input_focus_text_colour;
  @include box-shadow(0, 0, 3px, rgba(0, 0, 0, .2))
}

textarea {
  min-height: 60px;
}

label,
legend {
  display: block;
  font-weight: bold;
  font-size: 13px;
}

select {
  width: 220px;
}

input[type="checkbox"] {
  display: inline;
}

label span,
legend span {
  font-weight: normal;
  font-size: 13px;
  color: $form_label_legend_colour;
}