/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* #Lists
================================================== */
ul, ol {
  margin-bottom: 20px;
}

ul {
  list-style: none outside;
}

ol {
  list-style: decimal;
}

ol, ul.square, ul.circle, ul.disc {
  margin-left: 30px;
}

ul.square {
  list-style: square outside;
}

ul.circle {
  list-style: circle outside;
}

ul.disc {
  list-style: disc outside;
}

ul ul, ul ol,
ol ol, ol ul {
  margin: 4px 0 5px 30px;
  font-size: 90%;
}

ul ul li, ul ol li,
ol ol li, ol ul li {
  margin-bottom: 6px;
}

li {
  line-height: 18px;
  margin-bottom: 12px;
}

ul.large li {
  line-height: 21px;
}

li p {
  line-height: 21px;
}