/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
*
* SCSS Conversion and Mixins by Nick Pack
*
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

@import "_variables";
@import "_reset";
@import "_mixins";

/* #Basic Styles
================================================== */
body {
  background: #fff;
  font: 14px/21px $body_font_family;
  color: #444;
  -webkit-text-size-adjust: 100%;
}

/* #Forms
================================================== */


@import "_grid";
@import "_typography";
@import "_links";
@import "_lists";
@import "_forms";
@import "_images";

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}