/* 
* Skeleton V0.1
* Created by Dave Gamache
* www.skeleton.gs
* 4/30/2011
*/


/* Documentation Styles
================================================== */
	div.container {
		padding-top: 40px; }
		
	/* Doc nav */
	nav { 
		margin-left: 10px;
		position: fixed; }
	#logo {
		margin-bottom: 30px; }
	nav ul { 
		margin-left: 40px;
		overflow: hidden; }
	nav ul li {
		margin-bottom: 10px; }
	nav ul li a {
		font-size: 15px;
		color:#5f5f5f;
		text-decoration: none;
		font-weight: normal; }
	nav ul li a.active {
		font-weight: bold; 
		color: #000; }
	header p {
		font-size: 40px;
		line-height: 45px;
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #8d8d8d; }
	hr.large { 
		border: none;
		height: 8px; 
		background: #ebebeb; 
		margin: 50px 0; }
	div.doc-section {
		margin: 30px 0; }

	#typography blockquote {
		margin-top: 20px; }
		
	.hidden-code a {
		font-size: 12px;
		color: #999; }
	.hidden-code>div {
		display: none; }

	/* Grid */
	#grid .column,
	#grid .columns { 
		background: #222; 
		height: 25px;
		line-height: 25px;
		margin-bottom: 10px;
		text-align: center;
		text-transform: uppercase; 
		color: #fff; 
		font-size: 12px; 
		font-weight: bold;
		-moz-border-radius: 2px;
		 -webkit-border-radius: 2px;
		 border-radius: 2px; }
	#grid .example-grid { overflow: hidden; }
		 
		 
	/* Mobile */
	@media only screen and (max-width: 767px) {
		header p { font-size: 25px; line-height: 30px;}
		nav { position: relative; }
		nav ul { display: none; }
		#logo { 
			width: 100px;
			display: block;
			margin: 0 auto;  }
	}
	
	/* Mobile Landscape */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		nav ul { display: none; }
	}
	
	/* Non 960 */
	@media only screen and (max-width: 969px) {
		#logo { 
			max-width: 130px; }
		nav ul { margin-left: 10px; }
	}
	
	
	/* iPad Portrait/Browser */
	@media only screen and (min-width: 768px) and (max-width: 991px) {}
	
	/* Mobile/Browser */
	@media only screen and (max-width: 767px) {}
	
	/* Mobile Landscape/Browser */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}
	
	/* Anything smaller than standard 960 */
	@media only screen and (max-width: 959px) {}
	
	/* iPad Portrait Only */
	@media only screen and (min-width: 768px) and (max-width: 991px) and (max-device-width: 1000px) {}
	
	/* Mobile Only */
	@media only screen and (max-width: 767px) and (max-device-width: 1000px) {}
	
	/* Mobile Landscape Only */
	@media only screen and (min-width: 480px) and (max-width: 767px) and (max-device-width: 1000px) {
		header p { 
			font-size: 25px;
			line-height: 30px; }
	}
	
	
	