/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */



/* #Base 960 Grid
================================================== */

    .container                                  { position: relative; width: 960px; margin: 0 auto; padding: 0; }
    .container .column,
    .container .columns                         { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
    .row                                        { margin-bottom: 20px; }
    .container .pull,
    .container .push                            { position: relative; }

    /* Nested Column Classes */
    .column.alpha, .columns.alpha               { margin-left: 0; }
    .column.omega, .columns.omega               { margin-right: 0; }

    /* Base Grid */
    .container .one.column,
    .container .one.columns                     { width: 40px;  }
    .container .two.columns                     { width: 100px; }
    .container .three.columns                   { width: 160px; }
    .container .four.columns                    { width: 220px; }
    .container .five.columns                    { width: 280px; }
    .container .six.columns                     { width: 340px; }
    .container .seven.columns                   { width: 400px; }
    .container .eight.columns                   { width: 460px; }
    .container .nine.columns                    { width: 520px; }
    .container .ten.columns                     { width: 580px; }
    .container .eleven.columns                  { width: 640px; }
    .container .twelve.columns                  { width: 700px; }
    .container .thirteen.columns                { width: 760px; }
    .container .fourteen.columns                { width: 820px; }
    .container .fifteen.columns                 { width: 880px; }
    .container .sixteen.columns                 { width: 940px; }

    .container .one-third.column                { width: 300px; }
    .container .two-thirds.column               { width: 620px; }
    
    /* Pushes & Pulls */
    .container .pull.by-one                     { left: -50px }
    .container .pull.by-two                     { left: -110px; }
    .container .pull.by-three                   { left: -170px; }
    .container .pull.by-four                    { left: -230px; }
    .container .pull.by-five                    { left: -290px; }
    .container .pull.by-six                     { left: -350px; }
    .container .pull.by-seven                   { left: -410px; }
    .container .pull.by-eight                   { left: -470px; }
    .container .pull.by-nine                    { left: -530px; }
    .container .pull.by-ten                     { left: -590px; }
    .container .pull.by-eleven                  { left: -650px; }
    .container .pull.by-twelve                  { left: -710px; }
    .container .pull.by-thirteen                { left: -770px; }
    .container .pull.by-fourteen                { left: -830px; }
    .container .pull.by-fifteen                 { left: -890px; }
    
    .container .push.by-one                     { left: 50px }
    .container .push.by-two                     { left: 110px; }
    .container .push.by-three                   { left: 170px; }
    .container .push.by-four                    { left: 230px; }
    .container .push.by-five                    { left: 290px; }
    .container .push.by-six                     { left: 350px; }
    .container .push.by-seven                   { left: 410px; }
    .container .push.by-eight                   { left: 470px; }
    .container .push.by-nine                    { left: 530px; }
    .container .push.by-ten                     { left: 590px; }
    .container .push.by-eleven                  { left: 650px; }
    .container .push.by-twelve                  { left: 710px; }
    .container .push.by-thirteen                { left: 770px; }
    .container .push.by-fourteen                { left: 830px; }
    .container .push.by-fifteen                 { left: 890px; }



/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .container                                  { width: 768px; }
        .container .column,
        .container .columns                         { margin-left: 10px; margin-right: 10px;  }
        .column.alpha, .columns.alpha               { margin-left: 0; margin-right: 10px; }
        .column.omega, .columns.omega               { margin-right: 0; margin-left: 10px; }
        .alpha.omega                                { margin-left: 0; margin-right: 0; }

        .container .one.column,
        .container .one.columns                     { width: 28px; }
        .container .two.columns                     { width: 76px; }
        .container .three.columns                   { width: 124px; }
        .container .four.columns                    { width: 172px; }
        .container .five.columns                    { width: 220px; }
        .container .six.columns                     { width: 268px; }
        .container .seven.columns                   { width: 316px; }
        .container .eight.columns                   { width: 364px; }
        .container .nine.columns                    { width: 412px; }
        .container .ten.columns                     { width: 460px; }
        .container .eleven.columns                  { width: 508px; }
        .container .twelve.columns                  { width: 556px; }
        .container .thirteen.columns                { width: 604px; }
        .container .fourteen.columns                { width: 652px; }
        .container .fifteen.columns                 { width: 700px; }
        .container .sixteen.columns                 { width: 748px; }

        .container .one-third.column                { width: 236px; }
        .container .two-thirds.column               { width: 492px; }

        /* Pushes & Pulls */
        .container .pull.by-one                     { left: -38px }
        .container .pull.by-two                     { left: -86px; }
        .container .pull.by-three                   { left: -134px; }
        .container .pull.by-four                    { left: -182px; }
        .container .pull.by-five                    { left: -230px; }
        .container .pull.by-six                     { left: -278px; }
        .container .pull.by-seven                   { left: -326px; }
        .container .pull.by-eight                   { left: -374px; }
        .container .pull.by-nine                    { left: -422px; }
        .container .pull.by-ten                     { left: -470px; }
        .container .pull.by-eleven                  { left: -518px; }
        .container .pull.by-twelve                  { left: -566px; }
        .container .pull.by-thirteen                { left: -614px; }
        .container .pull.by-fourteen                { left: -662px; }
        .container .pull.by-fifteen                 { left: -710px; }

        .container .push.by-one                     { left: 38px }
        .container .push.by-two                     { left: 86px; }
        .container .push.by-three                   { left: 134px; }
        .container .push.by-four                    { left: 182px; }
        .container .push.by-five                    { left: 230px; }
        .container .push.by-six                     { left: 278px; }
        .container .push.by-seven                   { left: 326px; }
        .container .push.by-eight                   { left: 374px; }
        .container .push.by-nine                    { left: 422px; }
        .container .push.by-ten                     { left: 470px; }
        .container .push.by-eleven                  { left: 518px; }
        .container .push.by-twelve                  { left: 566px; }
        .container .push.by-thirteen                { left: 614px; }
        .container .push.by-fourteen                { left: 662px; }
        .container .push.by-fifteen                 { left: 710px; }
    }


/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
        .container { width: 300px; }
        .container .columns,
        .container .column { margin: 0; }

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column  { width: 300px; }

        /* Pushes & Pulls */
        .container .pull.by-one,
        .container .pull.by-two,
        .container .pull.by-three,
        .container .pull.by-four,
        .container .pull.by-five,
        .container .pull.by-six,
        .container .pull.by-seven,
        .container .pull.by-eight,
        .container .pull.by-nine,
        .container .pull.by-ten,
        .container .pull.by-eleven,
        .container .pull.by-twelve,
        .container .pull.by-thirteen,
        .container .pull.by-fourteen,
        .container .pull.by-fifteen,
        .container .push.by-one,
        .container .push.by-two,
        .container .push.by-three,
        .container .push.by-four,
        .container .push.by-five,
        .container .push.by-six,
        .container .push.by-seven,
        .container .push.by-eight,
        .container .push.by-nine,
        .container .push.by-ten,
        .container .push.by-eleven,
        .container .push.by-twelve,
        .container .push.by-thirteen,
        .container .push.by-fourteen,
        .container .push.by-fifteen { left: 0; }

    }


/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .container { width: 420px; }
        .container .columns,
        .container .column { margin: 0; }

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column { width: 420px; }
    }


/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row,
    .clearfix {
      zoom: 1; }

    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }
