/*
  #Ribs
  ## Copyright Information
  Skeleton is Copyright 2011, Dave Gamache

  Ribs is the evolution of Skeleton by Nick Pack
  Free to use under the MIT license.
  http://github.com/nickpack/Ribs
*/

// #Import of normalize, variables and mixins
@import "_variables";
@import "normalize/_normalize";
@import "_mixins";

// #General body style
body {
  background: #fff;
  font: 14px/21px $body_font_family;
  color: #444;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

// #General horizontal rule style
hr {
  border: $hr_border;
  border-width: $hr_border_width;
  clear: both;
  margin: $hr_margin;
  height: 0;
}

// #Import of ribs functionality
@import "_grid";
@import "_typography";
@import "_links";
@import "_lists";
@import "_forms";
@import "_images";
@import "_tables";

// #Example Media Queries
// ##Media Query - Smaller than standard 960 (devices and browsers)
@media only screen and (max-width: 959px) {}

// ##Media Query - Tablet Portrait size to standard 960 (devices and browsers)
@media only screen and (min-width: 768px) and (max-width: 959px) {}

// ##Media Query - All Mobile Sizes (devices and browser)
@media only screen and (max-width: 767px) {}

// ##Media Query - Mobile Landscape Size to Tablet Portrait (devices and browsers)
@media only screen and (min-width: 480px) and (max-width: 767px) {}

// ##Media Query - Mobile Portrait Size to Mobile Landscape Size (devices and browsers)
@media only screen and (max-width: 479px) {}
